* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(12,3);
  height: 100vh;
  grid-gap: 2rem;
  padding: 3rem;
}

.one {
  
  grid-row: 1; }

.two {
 
  grid-row: 1;
}
}

.three {
  
  grid-row: 1 ;
}
}

.four {
  
  grid-row: 1;
}
}