.benefits {

h4{
	display: grid;
	font-size: 4rem;
	justify-content: center;
	font-family: 'Staatliches', cursive;
	color:#ffff;
	}

  div {
    padding: 1rem;
    display: grid;
  }
  div:nth-child(odd){
    background-color: #DA1C5C;
  }
  div:nth-child(even){
    background-color: #F9ED32;
  }
  @media screen and (min-width: 40em){
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    height: 90vh;
    margin-bottom: 1rem;
    div:nth-child(4){
   
    }
  }
}

