  
 .contact{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding:2rem;
    height: 70vh;
    background-color:#EFEFEF;
    padding-top:10rem;
    padding-left: 5rem;

    h2{
    
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
    }

    p{
        grid-column: 1 / span 3;
        grid-row: 2 / span 5;
        font-family: 'Roboto', sans-serif
    }
  }

.form1{
  grid-column: 2 / span 2;
  background-color: #FFBFD8;
  padding:4rem;
  height: 40vh;
  font-family: 'Staatliches', cursive;
  width:60%;
  justify-self:end;
}

form input {
  margin-bottom: 1rem;
  background: #fff;
  
}
form button {
  background:#000000;
  color:#ffff;
  width:20%;
  height:2rem;
  padding: 0.3em;
  border: 0;
  font-family: 'Staatliches', cursive;
}
form button:hover {
  color:#DA1C5C;
}

label {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
  text-align: left;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

.age{
  padding:2rem;
}