
.different{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-row: 1fr 1fr;
    grid-column-gap:2rem;
    padding:5rem;
    margin:2rem;
}

.different h1{
    font-family:'Staatliches', cursive;
    font-size:2rem;
    grid-row: 1;
    grid-column: 1/ span 4;
}
.different p{
    font-family:'Roboto', sans-serif;
}

.different img{
    display: grid;
    justify-self:center;

.natural{
    background-color:#F9ED32;
    grid-row: 2;
   
}

.fresh{
    background-color:#FBB040;
     grid-row: 2;
     
}
    img{
        width:30%;
    }
}

.healthy{
    background-color:#8DC63F;
     grid-row: 2;
}
    img{
        width:30;
    }
}

h6 {
    align-content: center;
    font-size: 5rem;
    font-family:'Staatliches',cursive;
    grid-column: 1/span 3;
    justify-self: center;

}
