.media{
	display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #005620;
    height:70vh;
    padding-top:5rem;
    h4{
    	font-size: 5rem;
		text-align: center;
		font-family:'Staatliches', cursive;	
		color:#8DC63F;
    }
    p{
    	justify-self: center;
    	padding:2rem;
    	font-size:1.5rem;
    	font-family: 'Roboto', sans-serif;
    	color:#ffff;
    }

    img{
    	width:60%;
    	padding:2rem;
    	align-self:center;
    	border: solid 6px #8DC63F;
    }
}

